<header class="bg-success m-0 bg-green" style="padding: 8px;">
	<h3 class="text-center txt-white">¿Conoces a tu candidato?</h3>
</header>
<section >
	<div class="loader" ng-show="showSpinner"></div>
	<div class="list-group" ng-repeat="candidate in candidates">
		<div class="list-group-item" style="min-height:70px" ng-cloak>
			<div class="col-xs-3">
				<img ng-src="{{ candidate.image }}" class="w-100" alt="{{ candidate.name }}" ng-cloak>
			</div>
			<div class="col-xs-7 p-0">
				<h5 class="list-group-item-heading" ng-cloak>{{ candidate.name }}</h5>
				<p class="list-group-item-text fs-10" ng-cloak>{{ candidate.organization }}</p>
			</div>
			<div class="col-xs-2">
				<a href="/sabias-que/{{candidate.id}}">
					<button class="btn btn-default bg-green-dark" type="button">
						<i class="fa fa-search-plus"></i>
					</button>
				</a>
			</div>
		</div>
	</div>
</section>