<section style="height: 100%;" ng-show="slide == 1">
	<div class="fondo text-center" style="background-color: #3498db; height: 100%; padding: 30% 15% 0">
		<img src="assets/icons/escoge.png">
		<p class="sabias-que" style="font-size: 22px; margin-top: 28px;">Escoge el candidato por el cual estás declinando tu voto.</p>
	</div>
	<div class="btn-group btn-group-justified saltar-sig" role="group">
	  <div class="btn-group" role="group">
	    <button type="button" class="btn btn-primary m-2" ng-click="skipIntro()">Saltar</button>
	  </div>
	  <div class="btn-group" role="group">
	    <button type="button" class="btn btn-success m-2" ng-click="nextSlide()">siguiente</button>
	  </div>
	</div>
</section>
<section style="height: 100%;" ng-show="slide == 2">
	<div class="fondo text-center" style="background-color: #1abc9c; height: 100%; padding: 30% 15% 0">
		<img src="assets/icons/enterate.png">
		<p class="sabias-que" style="font-size: 22px; margin-top: 28px;">Entérate un poco más de tu candidato y prueba que tanto lo conoces.</p>
	</div>
	<div class="btn-group btn-group-justified saltar-sig" role="group">
	  <div class="btn-group" role="group">
	    <button type="button" class="btn btn-primary m-2" ng-click="skipIntro()">Saltar</button>
	  </div>
	  <div class="btn-group" role="group">
	    <button type="button" class="btn btn-success m-2" ng-click="nextSlide()">siguiente</button>
	  </div>
	</div>
</section >
<section style="height: 100%;" ng-show="slide == 3">
	<div class="fondo text-center" style="background-color: #95a5a6; height: 100%; padding: 30% 15% 0">
		<img src="assets/icons/lo-conoces.png">
		<p class="sabias-que" style="font-size: 22px; margin-top: 28px;">Tiempo de la verdad, descubre cuánto sabes de tu candidato.</p>
	</div>
	<div class="btn-group btn-group-justified saltar-sig" role="group">
	  <div class="btn-group" role="group">
	    <button type="button" class="btn btn-primary m-2" ng-click="skipIntro()">Saltar</button>
	  </div>
	  <div class="btn-group" role="group">
	    <button type="button" class="btn btn-success m-2" ng-click="nextSlide()">siguiente</button>
	  </div>
	</div>
</section>	

